<!--328/dating/views/home.html-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Dating</title>
</head>
<body>

<!-- Container for main content -->
<div class="container">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Dating</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 2</a>
                </li>
            </ul>
        </div>
    </nav><!-- End Navigation Bar -->

    <div class="row mt-1">
        <div class="col-12 col-md-6">
            <h1 class="text-center">My Dating Website</h1>
            <p class="text-justify">
                Welcome to the web's most successful dating website. At my <b>My Dating
                Website</b> you'll meet another like minded individuals. We have the
                highest success rate of couples on the web. User's are matched by
                interest and location. Find out why so many others have found love on
                our site!
            </p>
            <div class="text-center pr-3 pl-3">
                <h3>Hear what our users saying about us.</h3>
            </div>
            <hr>
            <hr>
            <div class="text-center">
                <button type="button" class="btn btn-primary">Create a Profile!</button>
            </div>
        </div>

        <div class="image-container col-12 col-md-6">
            <img class="rounded" id="imgDating" src="images/dating.jpg">
        </div>

    </div>

</div><!-- End Container for main content -->


</body>
</html>