<!--328/dating/views/interests.html-->
<!doctype html>
<html lang="en">
<head>
    <include href="views/includes/head_links.html" />

    <title>Interests</title>
</head>


<body class="bg-light">

<!-- Container for main content -->
<div class="container ">
    <include href="views/includes/navBar.html" />

    <div class="border rounded p-3 bg-white mt-2">
        <h2>Interests</h2>
        <hr>

        <form method="post">
            <div>
                <h4>In-dore interests</h4>
                <div class="row pl-3 pr-3">
                    <div class="col">
                        <input type="checkbox" id="tv" name="indore[]" value="tv">
                        <label for="tv">tv</label><br>

                        <input type="checkbox" id="puzzles" name="indore[]" value="puzzles">
                        <label for="puzzles">puzzles</label><br>
                    </div>

                    <div class="col">
                        <input type="checkbox" id="movies" name="indore[]" value="movies">
                        <label for="movies">movies</label><br>

                        <input type="checkbox" id="reading" name="reading" value="reading">
                        <label for="reading">reading</label><br>
                    </div>

                    <div class="col">
                        <input type="checkbox" id="cooking" name="cooking" value="cooking">
                        <label for="cooking">cooking</label><br>

                        <input type="checkbox" id="playCards" name="playCards" value="play cards">
                        <label for="playCards">playing cards</label><br>
                    </div>

                    <div class="col">
                        <input type="checkbox" id="boardGames" name="boardGames" value="board games">
                        <label for="boardGames">board games</label><br>

                        <input type="checkbox" id="videoGames" name="videoGames" value="video games">
                        <label for="videoGames">video games</label><br>
                    </div>

                </div>
            </div>

            <div class="mt-3">
                <h4>Out-dore interests</h4>
                <div class="row pl-3 pr-3">
                    <div class="col">
                        <input type="checkbox" id="hiking" name="hiking" value="hiking">
                        <label for="hiking">hiking</label><br>

                        <input type="checkbox" id="walking" name="walking" value="walking">
                        <label for="walking">walking</label><br>
                    </div>

                    <div class="col">
                        <input type="checkbox" id="biking" name="biking" value="biking">
                        <label for="biking">biking</label><br>

                        <input type="checkbox" id="climbing" name="climbing" value="climbing">
                        <label for="climbing">climbing</label><br>
                    </div>

                    <div class="col">
                        <input type="checkbox" id="swimming" name="swimming" value="swimming">
                        <label for="swimming">swimming</label><br>

                        <input type="checkbox" id="collecting" name="collecting" value="collecting">
                        <label for="collecting">collecting</label><br>
                    </div>

                    <div class="col">

                    </div>

                </div>
            </div>

            <include href="views/includes/btnNext.html" />
        </form>
    </div>

</div><!-- End Container for main content -->


</body>
</html>