<!--328/dating/views/summary.html-->
<!doctype html>
<html lang="en">
<head>
    <include href="views/includes/head_links.html" />

    <title>Summary</title>
</head>


<body class="bg-light">

<!-- Container for main content -->
<div class="container ">
    <include href="views/includes/navBar.html" />

    <div class="border rounded p-3 bg-white mt-2">
        <div class="row">
            <div class="col">
                <div>
                    <p>Name: {{ @fname}}</p>
                </div>
            </div>

            <div class="col">

            </div>

        </div>

        <form method="post">
            <div class="text-center w-100">
                <input class="btn btn-primary text-white" type="submit" value="Contact Me!">
            </div>
        </form>
    </div>

</div><!-- End Container for main content -->


</body>
</html>